{% extends 'base.html' %}

{% block title %}Confirmation{% endblock %}

{% block content %}
<div class="container">
    <div class="m-1 p-3 border rounded">
        <h1>Status Confirmation</h1>
        <h2>You are going to post a status with following:</h2>
        <h3>Name: </h3>
        <h3>{{ isi.name }}</h3>
        <h3>Message: </h3>
        <h3>{{ isi.message }}</h3>
        <h2>Are you sure?</h2>
        <a class="btn btn-primary" href="{% url 'index' %}" type="submit" name="Yes" role="button">Yes</a>
        <a class="btn btn-secondary" href="{% url 'remove' pk=isi.pk %}" type="submit" name="No" role="button">No</a>

    </div>
</div>
{% endblock %}