{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="m-1 p-3 border rounded">
        <h1>Add Status</h1>
        <form id="form" method="POST">
            {% csrf_token %}
            {{ forms }}
            <br>
            <input type = "submit" name="submit" class="btn btn-primary" value="Submit"> 
        </form>  
    </div>

    <div class="m-1 p-3 border rounded">
        <h1>Recent Status</h1>
        {% for i in isi  %}

        <div class="card">
            <div class="card-body">
                <h3>{{i.name}}</h3>
                <h4>{{i.message}}</h4>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}
